<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">

    <a class="navbar-brand" href="#"> Chat room - {{ room_name_json }}</a>
    <ul class="nav justify-content-end">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">User: {{ user.get_username }} </a>
            <div class="dropdown-menu">
                <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
                {% else %}
                <a href="{% url 'login'%}?next={{request.path}}">Login</a>
                {% endif %}
            </div>
        </li>
    </ul>

</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="form-control" id="chat-log" style="width:550px; height:400px; overflow:scroll">
            </div><br/>
            <input class="form-control" id="chat-message-input" type="text" placeholder="Enter message"
                   size="100"/><br/>
            <input class="form-control" id="chat-message-submit" type="button" value="Send"/>
        </div>

        <div class="col">

            <ul class="list-group">
                <li class="list-group-item disabled">Choice chat room</li>
                {% for chat in chats %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="/chat/{{ chat }}" >{{chat}}</a>
                </li>

                {% endfor %}
            </ul>
        </div>
        <div class="col-md-auto">
            </h2><span class="badge badge-secondary">   CREATE NEW CHAT ROOM   </span>
            <form action="." method="post">
                {% csrf_token%}
                <div class="form-group row">
                    <div class="col-sm-10">
                        {{ form.chat_name }}
                    </div>
                </div>
                <div class="form-group row">

                    <div class="col-sm-10">
                        <div class="form-check">

                            <label class="form-check-label" for="gridCheck1">
                                {{ form.check}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input class="btn btn-primary" id="room-name-submit" type="submit" value="Enter"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>

<script>
    var roomName = {{ room_name_json }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onopen = function(e){
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': "<span style='color: {{user.usercolor.color}}'>{{user.get_username}} enterd chat</span><br/>"
        }));

        messageInputDom.value = '';
    }

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        $('#chat-log').append(message)
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };


    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {

        var messageInputDom = document.querySelector('#chat-message-input');

        var message = messageInputDom.value;


        chatSocket.send(JSON.stringify({
            'message': "<span style='color: {{user.usercolor.color}}'>{{user.get_username}} :</span>" +   message + "<br/>"
        }));

        messageInputDom.value = '';
    };













</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</html>
